In [1]:
import numpy as np
import pandas as pd

from lib.script_scraper import ScriptScraper
from lib.corpus_enhancer import CorpusEnhancer

### Parks and Recreation

In [2]:
series_url = 'https://subslikescript.com/series/Parks_and_Recreation-1266020'
series_id = 'parksandrec'
acts = 3
scenes = 5
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'

In [3]:
pnr_scraper = ScriptScraper(
    series_url = series_url,
    series_id = series_id,
    user_agent = user_agent,
    acts = acts,
    scenes = scenes
)

In [4]:
pnr_corpus = pnr_scraper.generate_corpus()

In [5]:
pnr_corpus

                                                                                                            line
series_id   season_id episode_id episode_title         scene_id line_id
parksandrec 1         1          Pilot                 1        1                                     Hello. Hi.
                                                                2        My name is Leslie Knope, and I work for
                                                                3           the Parks and Recreation Department.
                                                                4                 Can I ask you a few questions?
                                                                5                    Would you say that you are,
...                                                                                                          ...
            7         12         One Last Ride: Part 1 15       135                             You ready, babe?
                                                                136                                         Yes.
                                                                137                                   I'm ready.
                                                                138                        That is a series wrap
                                                                139                   on "Parks and Recreation."

[107954 rows x 1 columns]

In [6]:
pnr_tokens = pnr_scraper.generate_tokens()

In [7]:
pnr_tokens

                                                                                     token_str  \
series_id   season_id episode_id episode_title         scene_id line_id token_id
parksandrec 1         1          Pilot                 1        1       0               Hello.
                                                                        1                  Hi.
                                                                2       0                   My
                                                                        1                 name
                                                                        2                   is
...                                                                                        ...
            7         12         One Last Ride: Part 1 15       138     4                 wrap
                                                                139     0                   on
                                                                        1               "Parks
                                                                        2                  and
                                                                        3         Recreation."

                                                                                    term_str
series_id   season_id episode_id episode_title         scene_id line_id token_id
parksandrec 1         1          Pilot                 1        1       0              hello
                                                                        1                 hi
                                                                2       0                 my
                                                                        1               name
                                                                        2                 is
...                                                                                      ...
            7         12         One Last Ride: Part 1 15       138     4               wrap
                                                                139     0                 on
                                                                        1              parks
                                                                        2                and
                                                                        3         recreation

[440560 rows x 2 columns]

In [8]:
pnr_vocab = pnr_scraper.generate_vocab()

In [9]:
pnr_vocab

                 n
term_str
i            14963
you          14103
the          11459
to           10396
a            10002
...            ...
fourteen         1
misuse           1
bribery          1
leveled          1
thunderfist      1

[18879 rows x 1 columns]

In [10]:
pnr_corpus.to_csv('PNR-LINES.csv')
pnr_tokens.to_csv('PNR-TOKENS.csv')
pnr_vocab.to_csv('PNR-VOCAB.csv')

### Brooklyn Nine-Nine

In [11]:
b99_series_url = 'https://subslikescript.com/series/Brooklyn_Nine-Nine-2467372'
b99_series_id = 'brooklyn99'

In [12]:
b99_scraper = ScriptScraper(
    series_url = b99_series_url,
    series_id = b99_series_id,
    user_agent = user_agent,
    acts = acts,
    scenes = scenes
)

In [13]:
b99_corpus = b99_scraper.generate_corpus()

In [14]:
b99_corpus

                                                                                            line
series_id  season_id episode_id episode_title     scene_id line_id
brooklyn99 1         1          Pilot             1        1        This job is eating me alive.
                                                           2            I can't breathe anymore.
                                                           3             I spent all these years
                                                           4          trying to be the good guy.
                                                           5                    Ripped By mstoll
...                                                                                          ...
           8         10         The Last Day Pt 2 15       89                           Captain?
                                                           90                 Are we doing this?
                                                           91                   What I say is...
                                                           92                         Nine-Nine!
                                                           93                         Nine-Nine!

[142930 rows x 1 columns]

In [15]:
b99_tokens = b99_scraper.generate_tokens()

In [16]:
b99_tokens

                                                                              token_str  \
series_id  season_id episode_id episode_title     scene_id line_id token_id
brooklyn99 1         1          Pilot             1        1       0               This
                                                                   1                job
                                                                   2                 is
                                                                   3             eating
                                                                   4                 me
...                                                                                 ...
           8         10         The Last Day Pt 2 15       91      1                  I
                                                                   2                say
                                                                   3              is...
                                                           92      0         Nine-Nine!
                                                           93      0         Nine-Nine!

                                                                             term_str
series_id  season_id episode_id episode_title     scene_id line_id token_id
brooklyn99 1         1          Pilot             1        1       0             this
                                                                   1              job
                                                                   2               is
                                                                   3           eating
                                                                   4               me
...                                                                               ...
           8         10         The Last Day Pt 2 15       91      1                i
                                                                   2              say
                                                                   3               is
                                                           92      0         ninenine
                                                           93      0         ninenine

[586247 rows x 2 columns]

In [17]:
b99_vocab = b99_scraper.generate_vocab()

In [18]:
b99_vocab

                    n
term_str
                19630
i               18524
you             18007
the             16589
a               12511
...               ...
reorganization      1
blizzards           1
penisremoval        1
possums             1
unforgivable        1

[21538 rows x 1 columns]

In [29]:
b99_corpus.to_csv('B99-LINES.csv')
b99_tokens.to_csv('B99-TOKENS.csv')
b99_vocab.to_csv('B99-VOCAB.csv')

### The Office

In [20]:
office_series_url = 'https://subslikescript.com/series/The_Office-386676'
office_series_id = 'theoffice'

In [21]:
office_scraper = ScriptScraper(
    series_url = office_series_url,
    series_id = office_series_id,
    user_agent = user_agent,
    acts = acts,
    scenes = scenes
)

In [22]:
office_corpus = office_scraper.generate_corpus()

In [23]:
office_corpus

                                                                                         line
series_id season_id episode_id episode_title scene_id line_id
theoffice 1         1          Pilot         1        1                    All right Jim your
                                                      2           quarterlies look very good.
                                                      3                      How the thing is
                                                      4                going at the library ?
                                                      5                         Oh I told you
...                                                                                       ...
          9         23         Finale        15       99                  was a great subject
                                                      100                  for a documentary.
                                                      101             There's a lot of beauty
                                                      102                 in ordinary things.
                                                      103      Isn't that kind of the point?

[146125 rows x 1 columns]

In [24]:
office_tokens = office_scraper.generate_tokens()

In [25]:
office_tokens

                                                                          token_str  \
series_id season_id episode_id episode_title scene_id line_id token_id
theoffice 1         1          Pilot         1        1       0                 All
                                                              1               right
                                                              2                 Jim
                                                              3                your
                                                      2       0         quarterlies
...                                                                             ...
          9         23         Finale        15       103     1                that
                                                              2                kind
                                                              3                  of
                                                              4                 the
                                                              5              point?

                                                                           term_str
series_id season_id episode_id episode_title scene_id line_id token_id
theoffice 1         1          Pilot         1        1       0                 all
                                                              1               right
                                                              2                 jim
                                                              3                your
                                                      2       0         quarterlies
...                                                                             ...
          9         23         Finale        15       103     1                that
                                                              2                kind
                                                              3                  of
                                                              4                 the
                                                              5               point

[563670 rows x 2 columns]

In [26]:
office_vocab = office_scraper.generate_vocab()

In [27]:
office_vocab

                     n
term_str
i                19894
you              19788
the              14497
to               13821
a                12686
...                ...
bearings             1
conversing           1
upperdecker          1
mashta               1
aboutquanfifies      1

[19310 rows x 1 columns]

In [28]:
office_corpus.to_csv('OFFICE-LINES.csv')
office_tokens.to_csv('OFFICE-TOKENS.csv')
office_vocab.to_csv('OFFICE-VOCAB.csv')

# Add Metrics to CORPUS & VOCAB

In [30]:
OHCO = ['series_id', 'season_id', 'episode_id', 'scene_id', 'line_id', 'token_id']
TOKENS = OHCO[:6]
LINES = OHCO[:5]
SCENES = OHCO[:4]
EPISODES = OHCO[:3]
SEASONS = OHCO[:2]
SERIES = OHCO[:1]

### Parks and Recreation

In [31]:
pnr_tokens_raw = pd.read_csv('PNR-TOKENS.csv')

In [32]:
pnr_tokens_raw = pnr_tokens_raw.drop('episode_title', axis = 1).set_index(TOKENS)

In [33]:
pnr_tokens_raw

                                                               token_str  \
series_id   season_id episode_id scene_id line_id token_id
parksandrec 1         1          1        1       0               Hello.
                                                  1                  Hi.
                                          2       0                   My
                                                  1                 name
                                                  2                   is
...                                                                  ...
            7         12         15       138     4                 wrap
                                          139     0                   on
                                                  1               "Parks
                                                  2                  and
                                                  3         Recreation."

                                                              term_str
series_id   season_id episode_id scene_id line_id token_id
parksandrec 1         1          1        1       0              hello
                                                  1                 hi
                                          2       0                 my
                                                  1               name
                                                  2                 is
...                                                                ...
            7         12         15       138     4               wrap
                                          139     0                 on
                                                  1              parks
                                                  2                and
                                                  3         recreation

[440560 rows x 2 columns]

In [34]:
pnr_corp_enhancer = CorpusEnhancer(corpus = pnr_tokens_raw, ohco = TOKENS)

In [35]:
pnr_corpus_final = pnr_corp_enhancer.enhance_corpus(
    strip_hyphens = True, 
    strip_whitespace = True, 
    use_nltk = True
)

In [ ]:
pnr_vocab_final = pnr_corp_enhancer.generate_enhanced_vocab()

In [10]:
pnr_corp_enhanced[pnr_corp_enhanced.pos == 'NNP']

                                                                pos_tuple  \
series_id   season_id episode_id scene_id line_id token_id
parksandrec 1         1          1        2       3         (Leslie, NNP)
                                                  4         (Knope,, NNP)
                                          15      0            (Ms., NNP)
                                                  1         (Knope,, NNP)
                                          39      1             (Uh, NNP)
...                                                                   ...
                      6          13       54      1         (Harris, NNP)
                                 14       2       2            (Dr., NNP)
                                          4       0            (Dr., NNP)
                                                  1         (Harris, NNP)
                                          7       7            (Dr., NNP)

                                                            pos token_str  \
series_id   season_id episode_id scene_id line_id token_id
parksandrec 1         1          1        2       3         NNP    Leslie
                                                  4         NNP    Knope,
                                          15      0         NNP       Ms.
                                                  1         NNP    Knope,
                                          39      1         NNP        Uh
...                                                         ...       ...
                      6          13       54      1         NNP    Harris
                                 14       2       2         NNP       Dr.
                                          4       0         NNP       Dr.
                                                  1         NNP    Harris
                                          7       7         NNP       Dr.

                                                           term_str
series_id   season_id episode_id scene_id line_id token_id
parksandrec 1         1          1        2       3          leslie
                                                  4           knope
                                          15      0              ms
                                                  1           knope
                                          39      1              uh
...                                                             ...
                      6          13       54      1          harris
                                 14       2       2              dr
                                          4       0              dr
                                                  1          harris
                                          7       7              dr

[290 rows x 4 columns]

In [1]:
pnr_corpus_final

NameError: name 'pnr_corpus_final' is not defined

In [13]:
pnr_vocab_enhanced

,n,n_chars,p,i,h,max_pos,n_pos,cat_pos,stop,tfidf_mean,tfidf_sum,tfidf_median,tfidf_max,dfidf
term_str,,,,,,,,,,,,,,
1,2,1,0.000099,13.299995,0.001319,CD,1,{CD},0,13.291099,26.582197,13.291099,13.291099,26.582197
10,4,2,0.000198,12.299995,0.002439,CD,1,{CD},0,12.291099,49.164395,12.291099,12.291099,49.164395
100,4,3,0.000198,12.299995,0.002439,CD,1,{CD},0,12.291099,49.164395,12.291099,12.291099,49.164395
1000,1,4,0.000050,14.299995,0.000709,CD,1,{CD},0,14.291099,14.291099,14.291099,14.291099,14.291099
12,2,2,0.000099,13.299995,0.001319,CD,1,{CD},0,13.291099,26.582197,13.291099,13.291099,26.582197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
z,1,1,0.000050,14.299995,0.000709,NN,1,{NN},0,14.291099,14.291099,14.291099,14.291099,14.291099
zero,10,4,0.000496,10.978067,0.005443,NN,1,{NN},0,10.969171,109.691706,10.969171,10.969171,109.691706
zonal,1,5,0.000050,14.299995,0.000709,NN,1,{NN},0,14.291099,14.291099,14.291099,14.291099,14.291099
zone,1,4,0.000050,14.299995,0.000709,NN,1,{NN},0,14.291099,14.291099,14.291099,14.291099,14.291099
zoning,11,6,0.000545,10.840563,0.005912,VBG,1,{VBG},0,10.339319,113.732505,10.831667,10.831667,119.148338